*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6D7A7;
}
@font-face {
    font-family: Ankit;
    src: url(/static/PantonNarrowDemo-Light.otf);
  }
h1{
    font-size: 60px;
    color: white;
    font-family: Ankit;
    letter-spacing: 1px;
    word-spacing: 1.5px;
    margin-bottom: 80px;
    margin-top: 40px;
    background-color: #87aaaaaf;
    padding-left: 20px;
    padding-right: 20px;
}

input[type="text"]{
    border-top: none;
    border-left: none;
    font-family: sans-serif;
    font-size: 20px;
    height: 35px;
    width: 400px;
    margin: 20px;
    background-color: #D3E4CD;


}
label{
    font-size: 20px;
    font-family: sans-serif;
    color: #316B83;
    letter-spacing: 1px;
    margin-top: 50px;
}

select{
    border-top: none;
    border-left: none;
    background: none;
    height: 50px;
    width: 200px;
    background-color:#C8E3D4 ;
    margin-bottom: 30px;
    color: #316B83;
}

#submit_btn{
    
    margin-left: 90px;
    border-top: none;
    border-left: none;
    text-decoration:none;
    height: 50px;
    width: 200px;
    background-color: #96C7C1;
    font-size: 25px;
    font-family: sans-serif;
    color: white;
    
}